body {
    text-align: center;
    font-family: 'Turret Road', cursive;
}

.container{
    position: static;
    
}

/* canvas {
    justify-self: center;
    width: 90%;
    margin: 20px 50px 0px 50px;
    height: 100%;
    background-image: url('images/FML-background.png');
    background-position: center;
} */

#gameArea {
    display: grid;
    justify-self: center;
    align-content: center;
    justify-content: center;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;;
    background-position: center;
    margin: 20px auto;
    width: 896px;
    height: 504px;
}

.displayArrows {
    display: inline-block;
    

}

li {
    width: 80px;
    height: 80px;
    display: inline-block;
    

}

#startButton {
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    /* border-radius: 25%; */
    font-size: 30px;
    font-family:  'Turret Road', cursive;
    font-weight: bold;
    color: floralwhite;
    justify-self: center;
    text-align: center;
    margin-top: 150px;
}

#timer{
    font-size: 50px;
    background-color: rgba(0,0,0,0);
    color: whitesmoke;
}

#playerStatus {
    background-color: rgba(0,0,0,0);
    color: whitesmoke;
    font-size: 30px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



